*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.hero{
   width: 100%;
    min-height: 100vh;
    background-image: url("./images/backimage.png");
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
nav ul li a{
    text-decoration:none;
    color: rgb(90, 6, 108);
    font-weight: bold;
    font-size:17px;
}
.content{
    margin-top: 0%;
    max-width: 500px;
}
.content h1 {
    font-size: 45px;
    color:rgb(90, 6, 108);
    animation-delay:0.5s ;
}
.content p{
    margin: 1pc 0 30px;
    color:black;
    font-size: 15px;
    animation-delay: 1s;
}
.homeimage{
    width: 450px;
    position: absolute;
    bottom: 30%;
    right: 2%;
}
.homeimage.animation{
    animation-delay: 1.5s;
}
.animation{
    opacity: 0;
    transform: translateY(30px);
    animation:moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.changeclr{
    transition: 0.5s;
}
.changeclr:hover{
    color: rgb(255, 0, 85);
}
.aboutimgs{
    width: 450px;
    margin-left: 40px;
}
.threeseconddelay{
    animation-delay: 1.5s;
}
.wrapper{
    margin: 10px 1px 10px 10px;
}
.wrapper img{
    float: left;
    max-width: 250px;
    margin-right: 15px;
}

.textbox h2{
    color:rgb(90, 6, 108);
    font-size: 20px;
}
.textbox p{
    font-size: 15px;
}
h3 {
    text-align: center;
    font-size: 22px;
}
.forlist{
    color:rgb(209, 19, 187);
    font-size: 20px;
}
.imgnexttolist{
    display: flex;
    max-width: 100px;
    border-radius: 50%;
    border-style: solid;
    border-width: 10%;
    border-color: rgb(245, 159, 237);

}
.icon{
    font-size: 50px;
}
.fb:hover {
    color: rgb(64, 64, 240);
}
.in:hover {
  color: rgb(187, 9, 128);
}
.git:hover {
  color:black;
}
.em:hover {
    color: rgb(206, 15, 15);
}
form{
    width: 500px;
    padding: 20px;
    margin: auto;
    font-size: 20px;
    background:local;
}
input[type=text]{
    width: 50%;
    padding: 5px;
    font-size: 25px;
    background: local;
    border-width: 0.5px;
    box-shadow: inset;
    border-color: rgb(155, 10, 77);
}
input[type=submit]{
    padding: 5px;
    font-size: 25px;
    background-color: rgb(155, 10, 77);;
    border-width: 2px;
    box-shadow: inset;
    border-color: rgb(155, 10, 77);
}
textarea{
    background: local;
    width: 70%;
    font-size: 25px;
    height: inherit;
    border-width: 2px;
    box-shadow: inset;
    border-color: rgb(155, 10, 77);

}